body{
    background-color: blueviolet;
}
h1{
    color: azure;
}
h2{
    color: azure    ;
}
p{
    color:azure;    

}
.Emilio{
    color:azure;    
}
.skills{
    color: azure;
    padding: 50px 50px 50px 50px;
    margin: 70px;
    border: 2px solid white;
    height: 120px;
    width: 120px;
}
